<header>
     <nav>
          <a href="/">Blogs</a>
          <br />
          <a href="/about">About</a>
          <br />
          <a href="/blogs/create">New Blog</a>
          <br />
          <a href="/auth">Auth</a>
     </nav>
</header>